<!-- ======= Portfolio Section ======= -->
<div id="portfolio" class="paddsection">

<div class="container">
  <div class="section-title text-center">
    <h2>Portfolio.</h2>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul id="portfolio-flters">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-web">Web</li>
        <li data-filter=".filter-game">Game</li>
        <li data-filter=".filter-design">Design</li>
      </ul>
    </div>
  </div>

  <div id="projectsContainer" class="row portfolio-container">    


    <% for( let project of collections.projects) { %>
      <div class="col-lg-4 col-md-6 portfolio-item filter-<%- project.data.category.toLowerCase() %>">

        <% if (project.data.bannerVideo) { %>
          <video autoplay muted loop id="bannerVideo" class="w-100">
            <source src="<%= project.data.bannerVideo %>" type="video/mp4">
          </video>    
        <% } else { %>
          <img src="<%= project.data.thumb %>" class="img-fluid" alt="">
        <% } %>        
        <div class="portfolio-info">
          <h4><%= project.data.projectTitle %></h4>
          <p><%= project.data.category %></p>
          <a href="<%= project.url %>" class="float-right">
            <button type="button" class="btn btn-sm btn-outline-light">View</button>
          </a>
        </div>
      </div>
    <% } %>



  </div>

</div>

<script src="assets/js/shuffleProjects.js"></script>

</div><!-- End Portfolio Section -->